.loginbuttons {
    display: block;
    height: 100%;
}

.loginbuttons .loginbutton {
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--loginbutton_bg);
    border: solid var(--loginbutton_border) 2px;
    border-radius: 3px;
    width: 350px;
    height: 50px;
    text-align: center;
    font-size: 45px;
    line-height: 100%;
    user-select: none;
}

.loginbuttons .loginbutton:hover {
    background-color: var(--loginbutton_bg_hover);
}