

html {
	 overflow-y: scroll;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	background-color: 131313;
	min-height: 80%;
	padding-top: 0%;
}

.flex-container .box {
	background-color: #131313;
	width: 50%;
	margin: 10px;
	text-align: center;
	line-height: 12px;
	font-size: 30px;
	border-width: 3px;
	border-style: solid;
	border-color: #cc3500;
	border-top: 24px solid #cc3500;
	min-height: 100%;
}

.flex-container .box .title {
	background-color: #ffffff;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 40px;
	color: #000000;
	margin: auto;
	margin-top: 20px;
}

.flex-container-bottom {
    width: 1710px;
	margin: auto;
	margin-bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	background-color: 131313;
}

.flex-container-bottom .box2 {
	background-color: #131313;
	width: 50%;
	text-align: center;
	font-size: 25px;
	line-height: 16px;
	font: 'Visitor TT2 BRK';
	margin-bottom: 0;
}

.external-link{
	color: #ffffff;
}
.external-link:hover{
	color: #bbbbbb;
}

body {
	background-color: #131313;
    width: 1810px;
	height: 900px;
    margin: 8px auto;
	margin-top: -40;
    font-family: 'Visitor TT2 BRK', 'Visitor TT2 BRK', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
	overflow: hidden;
	filter: blur(0.5px);
}

@font-face {
    font-family: 'Visitor TT2 BRK';
    src: url('../fonts/font-visitor/VisitorTT2BRK.eot');
    src: url('../fonts/font-visitor/VisitorTT2BRK.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-visitor/VisitorTT2BRK.woff2') format('woff2'),
        url('../fonts/font-visitor/VisitorTT2BRK.woff') format('woff'),
        url('../fonts/font-visitor/VisitorTT2BRK.ttf') format('truetype'),
        url('../fonts/font-visitor/VisitorTT2BRK.svg#VisitorTT2BRK') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN 1451 Std';
    src: url('../fonts/font-DINMittelschriftStd/DINMittelschriftStd.eot');
    src: url('../fonts/font-DINMittelschriftStd/DINMittelschriftStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-DINMittelschriftStd/DINMittelschriftStd.woff2') format('woff2'),
        url('../fonts/font-DINMittelschriftStd/DINMittelschriftStd.woff') format('woff'),
        url('../fonts/font-DINMittelschriftStd/DINMittelschriftStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a:link,
a:visited,
a:hover,
a:active {
      text-decoration: none;
}

