.taskbar {
    background-color: #7a9887;
    width: 100%;
    height: 60px;
    display: block;
    position: fixed;
    z-index: 1;
    float: bottom;
    bottom: 0%;
    z-index: 9999;
}

.taskbar .flex {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.taskbar .flex .tray {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.taskbar .flex .tray .icon {
    display: block;
    height: 100%;
    min-width: 50px;
    margin-top: 5px;
}

.taskbar .flex .tray .icon .iconpicture {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    top: 0;
    transition: top ease 0.1s;
    
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    -ms-interpolation-mode: nearest-neighbor; 
}

.taskbar .flex .tray .icon:hover .iconpicture {
    top: -5px;
}

.taskbar .flex .tray .icon .iconname {
    background-color: #c9c9c9;
    border: solid black 2px;
    border-radius: 3px;
    line-height: 18px;
    font-size: 20px;
    height: 20px;
    min-width: 40px;
    display: block;
    position: fixed;
    float: top;
    margin-top: -85px;
    padding: 3px 4px 3px 4px;
    visibility: hidden;
}

.taskbar .flex .toggleBGM {
    width: 5%;
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}

.taskbar .flex .datetime {
    width: 10%;
    display: block;
    margin: auto;
    height: 100%;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 8px;
}

.trayNotification{
    background-color: #7a9887;
    width: 250px;
    height: 100px;
    display: block;
    position: fixed;
    z-index: 1;
    float: bottom;
    bottom: 75px;
    right: 10px;
    z-index: 9999;
    border: solid #353535 3px;
    padding: 7px 7px 7px 7px;
    user-select: none;
    overflow: auto;
    font-size: 24px;
    visibility: hidden;
}