@font-face {
    font-family: 'Visitor TT2 BRK';
    src: url('VisitorTT2BRK.eot');
    src: url('VisitorTT2BRK.eot?#iefix') format('embedded-opentype'),
        url('VisitorTT2BRK.woff2') format('woff2'),
        url('VisitorTT2BRK.woff') format('woff'),
        url('VisitorTT2BRK.ttf') format('truetype'),
        url('VisitorTT2BRK.svg#VisitorTT2BRK') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

