body{
	background-color: #001988;
	font-size: 40px;
	text-align: center;
	filter: blur(1px);
	font-family: 'Signalis Test Wip 1_2', 'Visitor TT2 BRK', 'Visitor TT2 BRK', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
	background-color: #ffffff;
	width: 260px;
	margin: auto;
	margin-top: 200px;
	font-size: 40px;
	text-align: center;
}

@font-face {
    font-family: 'Signalis Test Wip 1_2';
    src: url('../fonts/font-signalis/SignalisTestWip1_2-Regular.eot');
    src: url('../fonts/font-signalis/SignalisTestWip1_2-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-signalis/SignalisTestWip1_2-Regular.woff2') format('woff2'),
        url('../fonts/font-signalis/SignalisTestWip1_2-Regular.woff') format('woff'),
        url('../fonts/font-signalis/SignalisTestWip1_2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}